{{define "setup/status"}}
<div class="row">
    <div class="col-md-12 col-xd-12">
        <h1>Статус системы</h1>
        <ul>
            {{if .Setup}}
                <li>IP Адрес: {{.Setup.IpAddress}}</li>
                <li>IP Маска: {{.Setup.IpMask}}</li>
                <li>IP Шлюз:  {{.Setup.IpGw}}</li>
                <li>MAC:  {{.Setup.Mac}}</li>
                <li>Число Входных каналов ArtNet: {{.Setup.ArtnetInputs}}</li>
                {{ range $idx, $elem := .Setup.ArtIns }}
                <li>
                    Вход ArtNet{{$idx}}:
                    {{if eq $elem.Enabled true}}
                      Вселенная: {{$elem.Universe}}
                    {{else}}
                      <strong>ОТКЛ</strong>
                    {{end}}
                </li>
                {{ end }}
                <li>Число Выходных каналов ArtNet: {{.Setup.ArtnetOutputs}}</li>
                {{ range $idx, $elem := .Setup.ArtOuts }}
                <li>
                    Вход ArtNet{{$idx}}:
                    {{if eq $elem.Enabled true}}
                        Вселенная: {{$elem.Universe}}
                    {{else}}
                        <strong>ОТКЛ</strong>
                    {{end}}
                </li>
                {{ end }}
            {{end}}
        </ul>
    </div>
</div>
{{end}}
